# ===============================
# Python cache files
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ===============================
# Virtual environment
# ===============================
venv/
.env

# ===============================
# ML generated artifacts
# ===============================
model/*.h5
model/*.pkl

# ===============================
# Uploaded user data
# ===============================
uploads/

# ===============================
# IDE / OS files
# ===============================
.vscode/
.idea/
.DS_Store
Thumbs.db

# ===============================
# Temporary / backup files
# ===============================
backup_model.py
report.pdf
