# ===============================
# Python cache files
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ===============================
# Virtual environment
# ===============================
venv/
.env

# ===============================
# Uploaded user data
# ===============================
uploads/

# ===============================
# IDE / OS files
# ===============================
.vscode/
.idea/
.DS_Store
Thumbs.db
